<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bd.httpdaffodilvarsity.JobTracking">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="bd.httpdaffodilvarsity.JobTracking.service.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="bd.httpdaffodilvarsity.JobTracking.activity.RegistrationActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="bd.httpdaffodilvarsity.JobTracking.activity.AboutUsActivity"
            android:label="@string/activity_title_about_us" />
        <activity
            android:name="bd.httpdaffodilvarsity.JobTracking.activity.PrivacyPolicyActivity"
            android:label="@string/activity_title_privacy_policy" />
        <activity android:name="bd.httpdaffodilvarsity.JobTracking.activity.LogInActivity" />
        <activity
            android:name="bd.httpdaffodilvarsity.JobTracking.activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- <activity android:name=".activity.RegistrationActivity"></activity> -->
        <activity android:name="bd.httpdaffodilvarsity.JobTracking.activity.SetDesignation" />
        <activity android:name="bd.httpdaffodilvarsity.JobTracking.activity.SetDepartment" />
        <activity android:name="bd.httpdaffodilvarsity.JobTracking.activity.CreateEmployeeJob" />
        <activity android:name="bd.httpdaffodilvarsity.JobTracking.activity.JobDetailsActivity" />
        <activity android:name="bd.httpdaffodilvarsity.JobTracking.activity.CreateEmployeeTask" />
        <activity android:name="bd.httpdaffodilvarsity.JobTracking.activity.TaskListDetails" />
    </application>
</manifest>